<!DOCTYPE html>
<html>
    <head>
        <title>Agregar tipo de subsidiaria</title>
    </head>
    <body>
        <h4>{{ titulo }}</h4>
        <form id="formulario" method="POST" action="">{% csrf_token %}
            <section>
                <article>
                    <label for="id_name">Nombre:</label>
                    {{ formulario.name.errors }}
                    {{ formulario.name }}
                </article>
                <article>
                    <label for="id_description">Descripci&oacute;n:</label>
                    {{ formulario.description.errors }}
                    {{ formulario.description }}
                </article>
            </section>
            <p><input id="submit_agregar" type="submit" value="Agregar"/><p>
        </form>
    </body>
</html>