<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <div>
        <h4>{{ titulo }}</h4>
    </div>
    <form id="form_update" method="POST">{% csrf_token %}
        <section>
            <article>
                <label for="id_name">Nombre:</label>
                {{ formulario.name.errors }}
                {{ formulario.name }}
            </article>
            <article>
                <label for="id_description">Descripci&oacute;n:</label>
                {{ formulario.description.errors }}
                {{ formulario.description }}
            </article>
        </section>
        <input type="submit" value="Modificar">
    </form>
</body>
</html>