<!DOCTYPE html>
<html lang="en">
  <head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <title>Xindex - Landing Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">

    <!--[if IE 7]>
      <link href="//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome-ie7.css" rel="stylesheet">
    <![endif]-->

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script type="text/javascript" src="//cdn.jsdelivr.net/html5shiv/3.6.1/html5shiv.min.js"></script>
    <![endif]-->

  </head>

  <body>

    <header id="header" class="site-header">
        <div class="container">
          <div class="row-fluid">
            <div class="span12">
                <div class="index_logo"></div>
            </div><!-- /span12 -->
          </div><!-- /row-fluid -->
        </div><!-- /container -->

      <div class="container">
        <div class="row-fluid">
          <div class="span12">

            <div class="header-description">
              <h2>Tenga a sus clientes satisfechos!</h2>
            </div><!-- /header-description -->

            <div class="header-features">
              <div class="row-fluid">
                <div class="span6 header-feature">
                  <h3><i class="icon-check"></i> &nbsp; Use Xindex</h3>
                  <div class="row-fluid">
                    <div class="span6">
                      <p>Proin ut iaculis nisl. Nulla dignissim neque magna, id hendrerit metus. Mauris non turpis eu arcu volutpat cursus. Etiam hendrerit erat ac eros auctor at eleifend lacus tincidunt. Lorem ipsum dolor sit amet.</p>
                    </div>
                     <div class="span6">
                      <p>Proin ut iaculis nisl. Nulla dignissim neque magna, id hendrerit metus. Mauris non turpis eu arcu volutpat cursus. Etiam hendrerit erat.</p>
                    </div>
                  </div>
                </div>
            </div><!-- /header-features -->

          </div><!-- /span12 -->
        </div><!-- /row-fluid -->
      </div><!-- /container -->
    </header>

    <footer id="footer" class="footer">
      <div class="container">
        <div class="row-fluid">
          <div class="span12">

            <div class="notify-wrapper">
              <div class="notify-inner">
                <a class="notify" href="register">Registrarse</a>
              </div>
            </div>

            <div class="footer-notes">
              <p>Proin ut iaculis nisl. Nulla dignissim neque magna, id hendrerit metus. Mauris non turpis eu arcu volutpat cursus. Etiam hendrerit erat ac eros auctor at eleifend lacus tincidunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu dignissim risus. Lorem ipsum dolor sit amet.</p>
              <p class="text-center "><a href="#">Xindex:</a> will make your life easier.</p>
            </div>

        </div>
      </div>
    </footer>

    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1.9.1/jquery-1.9.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>

  </body>
</html>
