<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="/static/chosen_v1.0.0/chosen.css">
</head>
<body>
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close"
                    data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Crear una unidad de servicio</h4>
        </div>
        <div class="modal-body">
            <div class="padder-xl">
                <form class="form-horizontal" id="business_unit_form" method="POST"
                      action="/business_units/add/">{% csrf_token %}

                    <div class="form-group m-t-lg">
                        Nombre:
                        {{ formulario.name }}
                        {{ formulario.name.errors }}
                    </div>
                    <div class="form-group m-t-lg">
                        Descripci&oacute;n:
                        {{ formulario.description }}
                        {{ formulario.description.errors }}
                    </div>
                    <div class="form-group m-t-lg hidden">
                        Servicios:
                        {{ formulario.service }}
                        {{ formulario.service.errors }}
                    </div>
                    <div class="form-group m-t-lg">
                        Servicios de esta unidad:
                        <select multiple
                                class="form-control chosen-select"
                                name="bu-ser"
                                id="id_bu-ser"
                                data-placeholder="Ninguno">
                            {% for eachService in services %}

                                <option value="{{ eachService.id }}">
                                    {{ eachService.name }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group m-t-lg">
                        Sucursales de esta unidad:
                        <select multiple
                                class="form-control chosen-select"
                                name="bu-sub"
                                id="id_bu-sub"
                                data-placeholder="Ninguno">
                            {% for eachSubsidiary in subsidiaries %}

                                <option value="{{ eachSubsidiary.id }}">
                                    {{ eachSubsidiary.name }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group m-t-lg">
                        <button type="submit"
                                class="btn btn-modal-xindex blue-xindex pull-right">
                            Guardar
                        </button>
                    </div>
                    <!--<a href="#" class="btn btn-white"
                           data-dismiss="modal">
                           Cancelar
                        </a>-->
                </form>
            </div>
        </div>
    </div>
    <!-- /.modal-content -->
</div><!-- /.modal-dialog -->

<script src="/static/chosen_v1.0.0/chosen.jquery.js" type="text/javascript"></script>
<script src="/static/chosen_v1.0.0/docsupport/prism.js" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript">

    var config = {
        '.chosen-select'           : {},
        '.chosen-select-deselect'  : {allow_single_deselect:true},
        '.chosen-select-no-single' : {disable_search_threshold:10},
        '.chosen-select-no-results': {no_results_text:'Sin resultados'},
        '.chosen-select-width'     : {width:"100%"}
    }
    for (var selector in config) {
        $(selector).chosen(config[selector]);
    }

    //// <------ Remove modal with close class ->
    $('.close').on('click', function (e) {
        e.preventDefault();
        $('div.modal').modal('hide');
        $('#ajaxModal').remove();
    });

    /**
    $('#business_unit_form').on('submit', function (e) {
        e.preventDefault();
        $.ajax({
            url: $(this).attr('action'),
            type: "POST",
            data: $(this).serialize(),
            success: function (msg) {
                if (msg == 'Si') {
                    var alerta = '<div class="alert alert-success">' +
                            '<button type="button" class="close" data-dismiss="alert">' +
                            '<i class="icon-remove"></i>' +
                            '</button>' +
                            '<i class="icon-ok-sign"></i>' +
                            '<strong>¡La sucursal se ha dado de alta!</strong>' +
                            '</div>';
                    $('#news_section').html(alerta);
                    $('#ajaxModal').modal('hide');
                    setTimeout(function () {
                        window.location.reload(true);
                    }, 1000);
                } else if (msg == 'No') {
                    alert('¡Ha ocurrido un problema, intente mas tarde!')
                }
            },
            error: function (msg_failu) {
                var alerta = '<div class="alert alert-danger">' +
                        '<button type="button" class="close" data-dismiss="alert">' +
                        '<i class="icon-remove"></i>' +
                        '</button>' +
                        '<i class="icon-ban-circle"></i>' +
                        '<strong>¡No fue posible realizar su peticion, intente mas tarde!< /strong>' +
                        '</div>';
                $('#news_section').html(alerta);
                $('#ajaxModal').modal('hide');
            }
        });
    });**/
</script>
</body>
</html>