{% extends "base.html" %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Unidades de servicio{% endblock %}</title>
</head>
<body>
{% block mainContent %}
    <section class="vbox">
        <header class="header b-b">
            <p class="h4 animated bounceInDown">Unidades de Servicio</p>
        </header>
        <section class="clearfix padder">
            <section class="clear padder-v stretch">
                <button href="#moreless" class="btn btn-sm btn-white">
                    <i class="icon-plus text"></i>
                    <span class="text">Agregar</span>
                </button>
            </section>
            <h4>Lista de subsidiarias</h4>
            {% for b_u in all_business_units %}
                <article>
                    {{ b_u.name }}
                    <a href="/business_units/remove/{{ b_u.id }}">Eliminar</a> | <a
                        href="/business_units/update/{{ b_u.id }}">Editar</a>
                </article>
            {% endfor %}
        </section>
    </section>
{% endblock %}
</body>
</html>