<div class="modal-dialog" id="addMomentModal">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close"
                    data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Crear un nuevo punto de contacto</h4>
        </div>
        <div class="modal-body">
            <div class="padder-xl">
                <form class="form-horizontal" id="moment_form" method="POST"
                      action="/moments/add/{{ service_id }}">{% csrf_token %}

                    <div class="form-group m-t-lg">
                        Nombre:
                        {{ formulario.name }}
                        {{ formulario.name.errors }}
                    </div>
                    <div class="form-group m-t-lg">
                        Descripci&oacute;n:
                        {{ formulario.description }}
                        {{ formulario.description.errors }}
                    </div>
                    <div class="form-group m-t-lg">
                        Propietarios:
                        {{ formulario.owners }}
                        {{ formulario.owners.errors }}
                    </div>
                    <div class="form-group m-t-lg">
                        Tipo de punto de contacto:
                        <table>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td class="padder text-muted">Telefono</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td class="padder text-muted">Presencial</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td class="padder text-muted">Pagina Web</td>
                            </tr>
                        </table>
                    </div>
                    <div class="form-group m-t-lg">
                        <button type="submit"
                                class="btn btn-modal-xindex blue-xindex pull-right">
                            Guardar
                        </button>
                    </div>
                    <!---
                <div class="modal-footer">
                    <a href="/services/details/{{ service_id }}"
                       class="btn btn-white"
                       data-dismiss="modal">Cancelar</a>
                    <button type="submit"
                            class="btn btn-twitter">Agregar
                    </button>
                </div>
                --->
                </form>
            </div>
        </div>
    </div>
    <!-- /.modal-content -->
</div><!-- /.modal-dialog -->
<script src="/static/js/jquery.validate.min.js"></script>
<script>
    /*
    jQuery.validator.setDefaults({
    debug: true,
    success: "valid",
    submitHandler: function(form) {
        form.submit();
    }
});*/
    $(function () {
        //alert('Validate')
        $("#moment_form").validate({
            rules: {
                name: {
                    required: true,
                    minlength: 5,
                    maxlength: 20

                },
                description: {
                    required: true,
                    minlength: 5,
                    maxlength: 100

                }
            },
            messages: {
                name: {
                    required: "Ingresa un nombre",
                    minlength: "Logitud minina {0} caracteres",
                    maxlength: "Longitud maxima {0} caracteres"
                },
                description: {
                    required: "Ingresa una descripcion",
                    minlength: "Logitud minina {0} caracteres",
                    maxlength: "Longitud maxima {0} caracteres"
                }
            },
            errorPlacement: function (error, element) {
                //element.css('background', '#ffdddd');
                //element.css('border-color', 'red');
                error.insertAfter(element);
                error.css('color', 'red');
                error.css('font-size', '10px');
            },
            success: function (element) {

            }
        });


        //// <------ Remove modal with close class ->

        $('.close').on('click', function (e) {
            e.preventDefault();
            $('div.modal').modal('hide');
            $('#ajaxModal').remove();
        });
    });
</script>