<div class="modal-dialog" id="addMomentModal">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close"
                    data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Agregar Momento de Contacto</h4>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" id="moment_form" method="POST"
                  action="/moments/add/{{ service_id }}">{% csrf_token %}
                <div class="form-group m-t-lg">
                    <label class="col-sm-3 control-label">Nombre:</label>

                    <div class=" col-md-7">
                        {{ formulario.name }}
                        {{ formulario.name.errors }}
                    </div>
                </div>
                <div class="form-group m-t-lg">
                    <label class="col-sm-3 control-label">Descripci&oacute;n:</label>

                    <div class=" col-md-7">
                        {{ formulario.description }}
                        {{ formulario.description.errors }}
                    </div>
                </div>
                <div class="form-group m-t-lg">
                    <label class="col-sm-3 control-label">Atributos:</label>

                    <div class=" col-md-5">
                        {{ formulario.attributes }}
                        {{ formulario.attributes.errors }}
                    </div>
                </div>
                <div class="form-group m-t-lg">
                    <label class="col-sm-3 control-label">Propietarios:</label>

                    <div class="col-sm-5">
                        {{ formulario.owners }}
                        {{ formulario.owners.errors }}
                    </div>
                    <div class="line line-dashed m-t-xs"></div>
                </div>
                <div class="modal-footer">
                    <a href="/services/details/{{ service_id }}"
                       class="btn btn-white"
                       data-dismiss="modal">Cancelar</a>
                    <button type="submit"
                            class="btn btn-twitter">Agregar
                    </button>
                    <input type="hidden" value="{{ service_id }}"
                           id="service_id"/>
                </div>
            </form>
        </div>
    </div>
    <!-- /.modal-content -->
</div><!-- /.modal-dialog -->
<script>
    $(function () {
//twitter bootstrap script
        $("#moment_form").on('submit', function (e) {
            e.preventDefault();

            var service_id = $('#service_id').val();
            var url = "/moments/add/" + service_id;
            var action = $('#moment_form').attr('action');
            $.ajax({
                type: "POST",
                url: $('#moment_form').attr('action'),
                data: $('#moment_form').serialize(),
                success: function (msg) {
                    if (msg == 'Si') {
                        var alerta = '<div class="alert alert-success">' +
                                '<button type="button" class="close" data-dismiss="alert">' +
                                '<i class="icon-remove"></i>' +
                                '</button>' +
                                '<i class="icon-ok-sign"></i>' +
                                '<strong>¡El punto de contacto se ha dado de alta!</strong>' +
                                '</div>';
                        $('#news_section').html(alerta);
                        $('#ajaxModal').modal('hide');
                        setTimeout(function () {
                            window.location.reload(true);
                        }, 2000);
                    } else if (msg == 'No') {
                        alert('¡Completa los campos requeridos!')
                    }
                },
                error: function (msg_failu) {
                    var alerta = '<div class="alert alert-danger">' +
                            '<button type="button" class="close" data-dismiss="alert">' +
                            '<i class="icon-remove"></i>' +
                            '</button>' +
                            '<i class="icon-ban-circle"></i>' +
                            '<strong>¡No fue posible realizar su peticion, intente mas tarde!< /strong>' +
                            '</div>';
                    $('#news_section').html(alerta);
                    $('#ajaxModal').modal('hide');
                }
            });
        });
    });
</script>