<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Moment {{ moment.id }} Detail</title>
</head>
<body>
{% if moment %}
<ul>
    <li><a href="remove/">Borrar</a></li>
    <li><a href="edit/">Editar</a></li>
    <li>Nombre: {{ moment.name }}</li>
    <li>Descripcion: {{moment.description}}</li>
    <li>Atributos:
        <ul>
            {% for attributes in moment.attributes.all %}
            <li>{{ attributes.name }}</li>
            {% endfor %}
        </ul>
    </li>

</ul>
{% else %}
<p>No existe información</p>
{% endif %}
</body>
</html>