{% extends "base.html" %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Detalles del Servicio{% endblock %}</title>
</head>
<body>
{% block mainContent %}
    <section id="content">
        <section class="vbox">
            <header class="header b-b bg-white">
                <p class="h4 animated bounceInDown">Detalles</p>
            </header>
            <section class="wrapper animated fadeInRightBig" id="basic">
                {% if service %}
                    <section class="bg-gradient nav hidden-xs">
                        <section class="wrapper text-left stretch b-b">
                            <div class="h3 m-t-xs m-b-xs">
                                <i class="icon-briefcase icon-xlarge"></i> {{ service.name }}
                                <small>Unidad de servicio, Subsidiaria, Direccion</small>

                                <a class="pull-right "
                                   href="/services">
                                    <i class="icon-reply"></i>
                                </a>
                            </div>
                            <div class="h3 m-t-xs m-b-xs">
                                <h4>Puntos de contacto para
                                    <a href="#">{{ service.name }}</a>
                                </h4>
                            </div>
                        </section>
                        <section class="scrollable wrapper">
                            <div class="row">
                                <div class="col-lg-9">
                                    <div class="col-lg-6 col-sm-6">
                                        <section class="panel lter no-borders">
                                            <div class="panel-body text-center padder v-middle">
                                                <div class="text-center media-lg thumb-lg padder-v">
                                                    <i class="icon-plus-sign inline icon-light text-success icon-3x m-t-lg m-b-lg"></i>
                                                </div>
                                                <p class="text-muted"><em>Add one</em></p>
                                            </div>
                                        </section>
                                    </div>
                                    {% if service %}
                                        {% for Moment in service.moments.all %}
                                            <div class="col-lg-6 col-sm-6">
                                                <section class="panel lter no-borders">
                                                    <header class="h4 header wrapper text-left">
                                                            {{ Moment.name }}
                                                            <a class="pull-right text-danger" href="#">
                                                                <i class="icon-close icon-remove"></i>
                                                            </a>
                                                        </header>
                                                    <div class="panel-body">
                                                        <div>
                                                            {{ Moment.description }}
                                                        </div>
                                                        <div>
                                                            <a class="pull-right text-warning" href="#">
                                                                <i class="icon-edit"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </section>
                                            </div>
                                        {% endfor %}
                                        {% if counter_moments == 0 %}
                                             <div class="col-lg-6 col-sm-6">
                                                <section class="panel lter no-borders">
                                                    <div class="panel-body text-center padder v-middle">
                                                        <div class="text-center media-lg thumb-lg padder-v">
                                                            <i class="icon-exclamation-sign inline icon-light text-warning icon-3x m-t-lg m-b-lg"></i>
                                                        </div>
                                                        <p class="text-muted"><em>No contact points available</em></p>
                                                    </div>
                                                </section>
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                </div>

                                <div class="col-lg-3">
                                    <section class="panel lter no-borders">
                                        <div class="panel-body">
                                            <div class="h4 header bg-info wrapper text-center">
                                                <div>
                                                    Puntos de contacto
                                                </div>
                                                <div>
                                                    <h1>{{ counter_moments }}</h1>
                                                </div>
                                            </div>
                                            <div class="h4 bg-warning wrapper text-center mtop">
                                                <div>
                                                    Encuestas
                                                </div>
                                                <div>
                                                    <h1>1</h1>
                                                </div>
                                            </div>
                                            <div class="h4 bg-danger wrapper text-center mtop">
                                                <div>
                                                    Preguntas
                                                </div>
                                                <div>
                                                    <h1>19</h1>
                                                </div>
                                            </div>
                                            <div class="h4 bg-light wrapper text-center mtop">
                                                <div>
                                                    Atributos
                                                </div>
                                                <div>
                                                    <h1>{{ counter_attributes }}</h1>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </section>
                    </section>
                {% else %}
                    <section class="bg-white wrapper-lg text-center">
                        <div class="">
                            <span class="icon-stack">
                                <i class="icon-circle text-white icon-stack-base"></i>
                                <i class="icon-warning-sign icon-light icon-xlarge text-warning"></i>
                            </span>
                        </div>
                        <span class="h4">
                            No se encontro el servicio
                        </span>
                    </section>
                    <div class="row wrapper">
                        <a class="pull-right btn btn-white btn-sm"
                           href="/services">
                            <i class="icon-backward"></i>
                            Regresar
                        </a>
                    </div>
                {% endif %}
            </section>
        </section>
    </section>
{% endblock %}
</body>
</html>