{% extends "base.html" %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>{% block title %}Servicios{% endblock %}</title>
</head>
<body>
{% block mainContent %}
    <input type="hidden" value="{{ business_unit.id }}" id="idbunit">
    <section id="content">
    <section class="vbox">
        <header class="header b-b blue-xindex">
            <p class="h5 animated bounceInDown">
                <a href="/xindex/">Inicio</a><i class="icon-chevron-right"></i>
                <a href="/xindex/">Mi empresa</a><i class="icon-chevron-right"></i>
                <a href="/business_units">Mis Unidades de Servicio</a><i class="icon-chevron-right"></i>
                <a href="/services/{{ business_unit.id }}">Servicios</a>
            </p>
        </header>
        <section class="scrollable panel padder padder-v animated fadeInRight">
            {% if business_unit %}
            <div class="col-lg-12 col-sm-12">
                <div class="row">
                    <div class="col-lg-10">
                        <input type="hidden" id="business_unit_id" value="{{ business_unit.id }}">
                            <p><a class="h2 text-success"
                                  href="/services/{{ business_unit.id }}">
                                {{ business_unit.name }}</a>
                        <small class="text-muted h5">{{ company }}</small></p>
                    </div>
                    <div class="col-lg-2">
                        <a href="/business_units/update/{{ business_unit.id }}"
                           class="text-warning"
                           id="edit-information"
                           data-toggle="ajaxModal">
                        <i class="icon-edit icon-2x"></i>Editar
                        </a>
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="col-lg-12 col-sm-12">
                {{ business_unit.description }}
            </div>
            <div class="col-lg-12 h3 padder-v">
                Servicios de ésta unidad de servicio
            </div>
            <div class="col-lg-12 col-sm-12"
                 style="padding-bottom: 10px">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="input-group search datagrid-search"
                             style="width: 100% !important;">
                            <input type="text"
                                   class="input-sm form-control"
                                   placeholder="Buscar">

                            <div class="input-group-btn">
                                <button class="btn btn-white btn-sm">
                                    <i class="icon-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4"></div>
                    <div class="col-lg-4">
                        <a class="btn bg-success btn-modal-xindex"
                           href="/services/add/{{ business_unit.id }}"
                           data-toggle="ajaxModal"
                           style="width: 100%">
                            <i class="icon-plus"></i>
                            Crear un nuevo servicio
                        </a>
                    </div>
                </div>
            </div>


            <input type="hidden" id="current_page">
                <input type="hidden" id="show_per_page">
                <div class="col-lg-12">
                    <section class="panel">
                        <ul class="list-group" id="contentList">
                            {% if found_entries %}
                                <!-- Busqueda de servicios -->
                            {% endif %}
                            {% for each_service in all_services.services %}
                                <li class="list-group-item">
                                    <div class="media">
                                        <div class="pull-right text-center"
                                             style="border-left: 1px solid #d3d3d3">
                                            <div class="h4 text-muted"
                                                 style="padding-left: 10px; padding-top: 10px; padding-bottom: 10px">
                                                <a href="/services/update/{{ each_service.id }}/{{ business_unit.id }}"
                                                   class="text-warning"
                                                   data-toggle="ajaxModal">
                                                <i class="icon-edit"></i>
                                                </a>
                                                <a href="/services/remove/{{ each_service.id }}/{{ business_unit.id }}"
                                                   class="text-danger">
                                                <i class="icon-remove"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="pull-right text-center"
                                             style="border-left: 1px solid #d3d3d3">
                                            <div class="h4" style="padding-left: 10px;">
                                                    {{ each_service.indicator_counter }}
                                            </div>
                                            <small class="text-muted"
                                                   style="padding-left: 10px;">
                                                Indicadores {{ each_service.indicator_counters }}
                                            </small>
                                        </div>
                                        <div class="pull-right text-center"
                                             style="border-left: 1px solid #d3d3d3">
                                            <div class="h4">
                                                {{ each_service.touchPoint_counter }}
                                            </div>
                                            <small class="text-muted"
                                                   style="padding-left: 10px;">
                                                Puntos de contacto
                                            </small>
                                        </div>
                                        <div class="media-body">
                                            <div class="h4" style="padding-top: 10px;">
                                                <a href="/services/details/{{ each_service.id }}">
                                                    {{ each_service.name }}
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </section>
                </div>

            <div class="col-lg-12 h3 padder-v">
                Sucursales que tienen esta unidad de servicio
            </div>
            <div class="col-lg-12 col-sm-12"
                 style="padding-bottom: 10px">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="input-group search datagrid-search"
                             style="width: 100% !important;">
                            <input type="text"
                                   class="input-sm form-control"
                                   placeholder="Buscar">

                            <div class="input-group-btn">
                                <button class="btn btn-white btn-sm">
                                    <i class="icon-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4"></div>
                    <div class="col-lg-4">
                        <a class="btn bg-success btn-modal-xindex"
                           href="/services/add/{{ business_unit.id }}"
                           data-toggle="ajaxModal"
                           style="width: 100%">
                            <i class="icon-plus"></i>
                            Asignar una unidad servicio
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-12">
                <table class="table table-striped datagrid m-b-sm">
                    <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Tipo de sucursal</th>
                        <th>Zona</th>
                        <th>Ubicación</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for eachSubsidiary in all_services.business_units %}
                        <tr>
                            <td>
                                <a href="#">
                                    {{ eachSubsidiary.name }}
                                </a>
                            </td>
                            <td>{{ eachSubsidiary.type }}</td>
                            <td>{{ eachSubsidiary.zone }}</td>
                            <td>{{ eachSubsidiary.location }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>




        <!--
            <div id="datagrid">
                <section class="panel">
                    <div class="table-responsive">
                        <table id="mySGrid" class="table table-striped datagrid m-b-sm">
                            <thead>
                            <tr>
                                <th>
                                    <div class="row">
                                        <div class="col-sm-8 m-t-xs m-b-xs">
                                            <div>
                                                <a class="btn btn-success btn-sm"
                                                   href="/services/add/{{ business_unit.id }}"
                                                   data-toggle="ajaxModal">
                                                    <i class="icon-plus-sign"></i>
                                                    Agregar
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 m-t-xs m-b-xs">
                                            <div class="input-group search datagrid-search">
                                                <input type="text" class="input-sm form-control" placeholder="Buscar">

                                                <div class="input-group-btn">
                                                    <button class="btn btn-white btn-sm"><i class="icon-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </th>
                            </tr>
                            </thead>

                            <tfoot class="">
                            <tr>
                                <th class="row">
                                    <div class="datagrid-footer-left col-sm-6 text-center-xs m-l-n"
                                         style="display:none;">
                                        <div class="grid-controls m-t-sm">
                              <span>
                                <span class="grid-start"></span> -
                                <span class="grid-end"></span> de
                                <span class="grid-count"></span>
                              </span>

                                            <div class="select grid-pagesize dropup" data-resize="auto">
                                                <button data-toggle="dropdown"
                                                        class="btn btn-sm btn-white dropdown-toggle">
                                                    <span class="dropdown-label"></span>
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li data-value="5"><a href="#">5</a></li>
                                                    <li data-value="10"><a href="#">10</a></li>
                                                    <li data-value="20" data-selected="true"><a href="#">20</a></li>
                                                    <li data-value="50"><a href="#">50</a></li>
                                                    <li data-value="100"><a href="#">100</a></li>
                                                </ul>
                                            </div>
                                            <span>Por p&aacute;gina</span>
                                        </div>
                                    </div>
                                    <div class="datagrid-footer-right col-sm-6 text-left text-xs"
                                         style="display:none;">
                                        <div class="grid-pager m-r-n">
                                            <button type="button" class="btn btn-sm btn-white grid-prevpage"><i
                                                    class="icon-chevron-left"></i></button>
                                            <span>P&aacute;gina</span>

                                            <div class="inline">
                                                <div class="input-group dropdown combobox">
                                                    <input class="input-sm form-control" type="text">

                                                    <div class="input-group-btn dropup">
                                                        <button class="btn btn-sm btn-white" data-toggle="dropdown"><i
                                                                class="caret"></i></button>
                                                        <ul class="dropdown-menu pull-right"></ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <span>de <span class="grid-pages"></span></span>
                                            <button type="button" class="btn btn-sm btn-white grid-nextpage"><i
                                                    class="icon-chevron-right"></i></button>
                                        </div>
                                    </div>
                                </th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </section>
            </div>
        -->



        </section>
    </section>
    </section>
{% endblock %}

{% block externalJs %}
    <!-- App -->
    <script src="/static/js/app.js"></script>
    <script src="/static/js/app.plugin.js"></script>
    <script src="/static/js/app.grids.data.js"></script>
    <script src="/static/js/app.grids.xindex.js"></script>
    <script src="/static/js/app.forms.xindex.js"></script>
    <!-- fuelux -->
    <script src="/static/js/fuelux/fuelux.js"></script>
    <script src="/static/js/libs/underscore-min.js"></script>
    <!-- datatables -->
    <script src="/static/js/datatables/jquery.dataTables.min.js"></script>
    <!-- Sparkline Chart -->
    <script src="/static/js/charts/sparkline/jquery.sparkline.min.js"></script>
    <!-- Easy Pie Chart -->
    <script src="/static/js/charts/easypiechart/jquery.easy-pie-chart.js"></script>

    <script src="/static/js/app.grids.xindex.js"></script>

<script>
    $(document).on('click', '#remove-service', function (e) {
        e.preventDefault();
        var href = $(this).attr('href');
        bootbox.dialog({
            message:
                    "¿Esta seguro que desea eliminar el servicio? ",
            title: "Eliminar servicio",
            buttons: {
                success: {
                    label: "Cancelar",
                    className: "bg-danger btn-modal-xindex",
                    callback: function () {
                    }
                },
                main: {
                    label: "Aceptar",
                    className: "bg-success btn-modal-xindex",
                    callback: function () {
                        $.ajax({
                            type: 'GET',
                            url: href,
                            success: function (msg) {
                                if (msg == 'Si') {
                                    alert(msg);
                                    setTimeout(function () {
                                        window.location.reload(true);
                                    }, 0);
                                    return true;
                                }
                            },
                            error: function (msg) {
                            }

                        });
                    }
                }
            }
        });
    });
</script>
{% endblock %}

</body>
</html>