<!DOCTYPE html>
<html>
    <head>
        <title>Editar servicio</title>
    </head>
    <body>
        <h4>{{ titulo }}</h4>
        <form id="formulario" method="POST" enctype="multipart/form-data">{% csrf_token %}
            <section>
                <article>
                    <label for="id_name">Nombre:</label>
                    {{ formulario.name.errors }}
                    {{ formulario.name }}
                </article>
                <article>
                    <label for="id_description">Descripci&oacute;n:</label>
                    {{ formulario.description.errors }}
                    {{ formulario.description }}
                </article>
                <article>
                    <label for="id_picture">Imagen:</label>
                    {{ formulario.picture.errors }}
                    {{ formulario.picture }}
                </article>
                <article>
                    <label for="id_moments">Momentos:</label>
                    {{ formulario.moments.errors }}
                    {{ formulario.moments }}
                </article>
                <article>
                    <label for="id_active">¿Activo?:</label>
                    {{ formulario.active.errors }}
                    {{ formulario.active }}
                </article>
            </section>
            <p><input id="submit_agregar" type="submit" value="Modificar"/><p>
        </form>
    </body>
</html>