<div class="modal-dialog" id="addMomentModal">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close"
                    data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Agregar Indicador</h4>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" id="edit_indicator_form" method="POST"
                  action="/indicators/update/{{ attribute_id }}">{% csrf_token %}
                <div class="form-group m-t-lg">
                    <label class="col-sm-3 control-label">Nombre:</label>

                    <div class=" col-md-7">
                        {{ formulario.name }}
                        {{ formulario.name.errors }}
                    </div>
                </div>
                <div class="form-group m-t-lg">
                    <label class="col-sm-3 control-label">Descripci&oacute;n:</label>

                    <div class=" col-md-7">
                        {{ formulario.description }}
                        {{ formulario.description.errors }}
                    </div>
                </div>
                <div class="form-group m-t-lg">
                    <label class="col-sm-3 control-label">Limite:</label>

                    <div class=" col-md-7">
                        {{ formulario.threshold }}
                        {{ formulario.threshold.errors }}
                    </div>
                </div>
                <div class="form-group m-t-lg">
                    <div class="modal-footer">
                        <a href="/indicators/"
                           class="btn btn-white"
                           data-dismiss="modal">Cancelar</a>
                        <button type="submit"
                                class="btn btn-twitter">Agregar
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $(function () {

        $("#add_indicator_form").on('submit', function (e) {
            e.preventDefault();
            $.ajax({
                url: $('#edit_indicator_form').attr('action'),
                type: "POST",
                data: $('#edit_indicator_form').serialize(),
                success: function (msg) {
                    if (msg == 'Si') {
                        var alerta = '<div class="alert alert-success">' +
                                '<button type="button" class="close" data-dismiss="alert">' +
                                '<i class="icon-remove"></i>' +
                                '</button>' +
                                '<i class="icon-ok-sign"></i>' +
                                '<strong>¡El indicador se ha modificado exitosamente!</strong>' +
                                '</div>';
                        $('#news_section').html(alerta);
                        $('#ajaxModal').modal('hide');
                        setTimeout(function () {
                            window.location.reload(true);
                        }, 2000);
                    } else if (msg == 'No') {
                        alert('¡Completa los campos requeridos!')
                    }
                },
                error: function (msg_failu) {
                    var alerta = '<div class="alert alert-danger">' +
                            '<button type="button" class="close" data-dismiss="alert">' +
                            '<i class="icon-remove"></i>' +
                            '</button>' +
                            '<i class="icon-ban-circle"></i>' +
                            '<strong>¡No fue posible realizar su peticion, intente mas tarde!< /strong>' +
                            '</div>';
                    $('#news_section').html(alerta);
                    $('#ajaxModal').modal('hide');
                }
            });
        });
    });
</script>