{% extends "base.html" %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Atributos{% endblock %}</title>
</head>
<body>
{% block mainContent %}
    <section class="vbox">
        <header class="header b-b">
            <p class="h4 animated bounceInDown">Atributos</p>
        </header>
        <section class="panel padder padder-v animated fadeInRight">
            <div id="datagrid">
                <section class="panel">
                    <div class="table-responsive">
                        <table id="myAttributesGrid"
                               class="table table-striped datagrid m-b-sm">
                            <thead>
                            <tr>
                                <th>
                                    <div class="row">
                                        <div class="col-sm-8 m-t-xs m-b-xs">
                                            <div>
                                                <a class="btn btn-white btn-sm"
                                                   href="/indicators/add"
                                                   data-toggle="ajaxModal">
                                                    <i class="icon-plus-sign"></i>
                                                    Agregar
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 m-t-xs m-b-xs">
                                            <div class="input-group search datagrid-search">
                                                <input type="text"
                                                       class="input-sm form-control"
                                                       placeholder="Buscar">

                                                <div class="input-group-btn">
                                                    <button class="btn btn-white btn-sm">
                                                        <i class="icon-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" id="news_section">

                                    </div>
                                </th>
                            </tr>
                            </thead>

                            <tfoot class="">
                            <tr>
                                <th class="row">
                                    <div class="datagrid-footer-left col-sm-6 text-center-xs m-l-n"
                                         style="display:none;">
                                        <div class="grid-controls m-t-sm">
                              <span>
                                <span class="grid-start"></span> -
                                <span class="grid-end"></span> de
                                <span class="grid-count"></span>
                              </span>

                                            <div class="select grid-pagesize dropup"
                                                 data-resize="auto">
                                                <button data-toggle="dropdown"
                                                        class="btn btn-sm btn-white dropdown-toggle">
                                                    <span class="dropdown-label"></span>
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li data-value="5"><a
                                                            href="#">5</a></li>
                                                    <li data-value="10"><a
                                                            href="#">10</a></li>
                                                    <li data-value="20"
                                                        data-selected="true"><a
                                                            href="#">20</a></li>
                                                    <li data-value="50"><a
                                                            href="#">50</a></li>
                                                    <li data-value="100"><a
                                                            href="#">100</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <span>Por p&aacute;gina</span>
                                        </div>
                                    </div>
                                    <div class="datagrid-footer-right col-sm-6 text-left text-xs"
                                         style="display:none;">
                                        <div class="grid-pager m-r-n">
                                            <button type="button"
                                                    class="btn btn-sm btn-white grid-prevpage">
                                                <i
                                                        class="icon-chevron-left"></i>
                                            </button>
                                            <span>P&aacute;gina</span>

                                            <div class="inline">
                                                <div class="input-group dropdown combobox">
                                                    <input class="input-sm form-control"
                                                           type="text">

                                                    <div class="input-group-btn dropup">
                                                        <button class="btn btn-sm btn-white"
                                                                data-toggle="dropdown">
                                                            <i
                                                                    class="caret"></i>
                                                        </button>
                                                        <ul class="dropdown-menu pull-right"></ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <span>de <span
                                                    class="grid-pages"></span></span>
                                            <button type="button"
                                                    class="btn btn-sm btn-white grid-nextpage">
                                                <i
                                                        class="icon-chevron-right"></i>
                                            </button>
                                        </div>
                                    </div>
                                </th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </section>
                <div>
                <p>Select2</p>
                <div class="m-b">
                  <select id="select2-option" style="width:260px">
                      <optgroup label="Alaskan/Hawaiian Time Zone">
                          <option value="AK">Alaska</option>
                          <option value="HI">Hawaii</option>
                      </optgroup>
                      <optgroup label="Pacific Time Zone">
                          <option value="CA">California</option>
                          <option value="NV">Nevada</option>
                          <option value="OR">Oregon</option>
                          <option value="WA">Washington</option>
                      </optgroup>
                      <optgroup label="Mountain Time Zone">
                          <option value="AZ">Arizona</option>
                          <option value="CO">Colorado</option>
                          <option value="ID">Idaho</option>
                          <option value="MT">Montana</option><option value="NE">Nebraska</option>
                          <option value="NM">New Mexico</option>
                          <option value="ND">North Dakota</option>
                          <option value="UT">Utah</option>
                          <option value="WY">Wyoming</option>
                      </optgroup>
                      <optgroup label="Central Time Zone">
                          <option value="AL">Alabama</option>
                          <option value="AR">Arkansas</option>
                          <option value="IL">Illinois</option>
                          <option value="IA">Iowa</option>
                          <option value="KS">Kansas</option>
                          <option value="KY">Kentucky</option>
                          <option value="LA">Louisiana</option>
                          <option value="MN">Minnesota</option>
                          <option value="MS">Mississippi</option>
                          <option value="MO">Missouri</option>
                          <option value="OK">Oklahoma</option>
                          <option value="SD">South Dakota</option>
                          <option value="TX">Texas</option>
                          <option value="TN">Tennessee</option>
                          <option value="WI">Wisconsin</option>
                      </optgroup>
                      <optgroup label="Eastern Time Zone">
                          <option value="CT">Connecticut</option>
                          <option value="DE">Delaware</option>
                          <option value="FL">Florida</option>
                          <option value="GA">Georgia</option>
                          <option value="IN">Indiana</option>
                          <option value="ME">Maine</option>
                          <option value="MD">Maryland</option>
                          <option value="MA">Massachusetts</option>
                          <option value="MI">Michigan</option>
                          <option value="NH">New Hampshire</option><option value="NJ">New Jersey</option>
                          <option value="NY">New York</option>
                          <option value="NC">North Carolina</option>
                          <option value="OH">Ohio</option>
                          <option value="PA">Pennsylvania</option><option value="RI">Rhode Island</option><option value="SC">South Carolina</option>
                          <option value="VT">Vermont</option><option value="VA">Virginia</option>
                          <option value="WV">West Virginia</option>
                      </optgroup>
                  </select>
                </div>
                <div>
                    <a class="remove-attribute">Eliminar</a>
                </div>
                <div class="m-b">
                  <input type="hidden" id="select2-tags" style="width:260px" value="brown"/>
                </div>
              </div>
            </div>
        </section>
    </section>
{% endblock %}

{% block externalJs %}


    <!-- App -->
    <script src="/static/js/app.js"></script>
    <script src="/static/js/app.plugin.js"></script>
    <script src="/static/js/app.data.js"></script>
    <script src="/static/js/app.grids.data.js"></script>
    <!-- fuelux -->
    <script src="/static/js/fuelux/fuelux.js"></script>
    <!-- datatables -->
    <script src="/static/js/datatables/jquery.dataTables.min.js"></script>
    <!-- Sparkline Chart -->
    <script src="/static/js/charts/sparkline/jquery.sparkline.min.js"></script>
    <!-- Easy Pie Chart -->
    <script src="/static/js/charts/easypiechart/jquery.easy-pie-chart.js"></script>
    <script src="/static/js/app.grids.xindex.js"></script>

    <script src="/static/js/datepicker/bootstrap-datepicker.js"></script>
    <!-- slider -->
    <script src="/static/js/slider/bootstrap-slider.js"></script>
    <!-- file input -->
    <script src="/static/js/file-input/bootstrap.file-input.js"></script>
    <!-- combodate -->
    <script src="/static/js/libs/moment.min.js"></script>
    <script src="/static/js/combodate/combodate.js"></script>
    <!-- parsley -->
    <script src="/static/js/parsley/parsley.min.js"></script>
    <!-- select2 -->
    <script src="/static/js/select2/select2.min.js"></script>
    <script src="/static/js/bootbox/bootbox.min.js"></script>
    <script src="/static/js/app.forms.xindex.js"></script>

{% endblock %}
</body>
</html>