{% extends "base.html" %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Surveys{% endblock %}</title>
</head>
<body>
{% block menu %}
    <nav class="nav-primary hidden-xs">
        <ul class="nav" id="nav-accordion">
            <li>
                <a href="/xindex/">
                    <i class="icon-beer"></i>
                    <span>Inicio</span>
                </a>
            </li>
            <li>
                <a data-toggle="collapse" data-parent="#nav-accordion"
                   href="#collapseOne">
                    <i class="icon-building"></i>
                    <span>Mi Empresa</span>
                </a>
                <ul id="collapseOne" class="nav accordion-body out collapse">
                    <li>
                        <a href="buttons.html">Informaci&oacute;n General</a>
                    </li>
                    <li>
                        <a href="/subsidiaries/">
                            Mis Sucursales
                        </a>
                    </li>
                    <li>
                        <a href="/zones/">Zonas</a>
                    </li>
                    <li>
                        <a href="/business_units/">
                            Mis unidades de servicio
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/indicators/">
                    <i class="icon-bar-chart"></i>
                    <span>Mis Atributos</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="icon-group"></i>
                    <span>Mis Clientes</span>
                </a>
            </li>
            <li>
                <a href="/surveys/" class="blue-xindex">
                    <i class="icon-file-text-alt"></i>
                    <span>Mis Encuestas</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="icon-book"></i>
                    <span>Mis Reportes</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}
{% block mainContent %}
    <section class="vbox">
        <header class="header b-b">
            <p class="h4 animated bounceInDown">Surveys</p>
        </header>
        <section class="panel animated fadeInRight scrollable wrapper">
            <div class="row">
                <div class="headerXINDEX">
                    <div class="col-lg-6">
                        <div class="header h1">
                            Mis encuestas
                        </div>
                        <div class="footer h5">
                            <div class="pull-left padder-v">
                                Ordenar por
                                <div class="btn-group">
                                    <button class="btn btn-white btn-sm dropdown-toggle" data-toggle="dropdown">
                                        Nombre
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="/surveys/order/name/">Nombre</a></li>
                                        <li><a href="/surveys/order/active/">Status</a></li>
                                        <li><a href="/surveys/order/date/">Fecha de creacion</a></li>
                                    </ul>
                                </div>
                            </div>
                            </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="header h4">
                            <a href="/surveys/add"
                               class="pull-right btn-success padder padder-v">
                                <i class="icon-plus"></i>
                                Agregar encuesta
                            </a>
                        </div>
                        <div class="footer h5">
                            <div class="input-group text-sm pull-right padder-v">
                                <div class="form-search form-inline">
                                    <input type="text"
                                           class="search-query input-sm form-control"
                                           placeholder="Search..."/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <section class="panel">
                        <ul class="list-group">
                            {% for each_survey in surveys.surveys %}
                                <li class="list-group-item">
                                    <div class="media">
                                        <div class="pull-left text-success m-t-sm">
                                            <input type="checkbox">
                                        </div>
                                        <div class="pull-right m-t-sm text-center">
                                            {% if each_survey.status %}
                                                <div class="h4">
                                                    <i class="icon-ok text-success"></i>
                                                </div>
                                                <small class="text-muted">
                                                    Habilitada
                                                </small>
                                            {% else %}
                                                <div class="h4">
                                                    <i class="icon-remove text-danger"></i>
                                                </div>
                                                <small class="text-muted">
                                                    Deshabilitada
                                                </small>
                                            {% endif %}
                                        </div>
                                        <div class="pull-right m-t-sm text-center">
                                            <div class="h4">
                                                {{ each_survey.counter_attribute }}
                                            </div>
                                            <small class="text-muted">
                                                Indicadores
                                            </small>
                                        </div>
                                        <div class="pull-right m-t-sm text-center">
                                            <div class="h4">
                                                {{ each_survey.counter_question }}
                                            </div>
                                            <small class="text-muted">
                                                Preguntas
                                            </small>
                                        </div>
                                        <div class="media-body">
                                            <div class="h4">
                                                <a href="#">
                                                    {{ each_survey.name }}
                                                </a>
                                            </div>
                                            <small class="text-muted">
                                                Creada el {{ each_survey.date }}
                                            </small>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </section>
                </div>
            </div>
        </section>
    </section>
{% endblock %}

{% block externalJs %}

    <script src="/static/js/bootbox/bootbox.min.js"></script>
    <script src="/static/js/app.forms.xindex.js"></script>
    <!-- App -->
    <script src="/static/js/app.js"></script>
    <script src="/static/js/app.plugin.js"></script>
    <script src="/static/js/app.data.js"></script>
    <script src="/static/js/app.grids.data.js"></script>
    <!-- fuelux -->
    <script src="/static/js/fuelux/fuelux.js"></script>
    <!-- datatables -->
    <script src="/static/js/datatables/jquery.dataTables.min.js"></script>
    <!-- Sparkline Chart -->
    <script src="/static/js/charts/sparkline/jquery.sparkline.min.js"></script>
    <!-- Easy Pie Chart -->
    <script src="/static/js/charts/easypiechart/jquery.easy-pie-chart.js"></script>

    <script src="/static/js/datepicker/bootstrap-datepicker.js"></script>
    <!-- slider -->
    <script src="/static/js/slider/bootstrap-slider.js"></script>
    <!-- file input -->
    <script src="/static/js/file-input/bootstrap.file-input.js"></script>
    <!-- combodate -->
    <script src="/static/js/libs/moment.min.js"></script>
    <script src="/static/js/combodate/combodate.js"></script>
    <!-- parsley -->
    <script src="/static/js/parsley/parsley.min.js"></script>
    <!-- select2 -->
    <script src="/static/js/select2/select2.min.js"></script>

    <script src="/static/js/app.grids.xindex.js"></script>

{% endblock %}
</body>
</html>