{% extends "base.html" %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Surveys{% endblock %}</title>
</head>
<body>
{% block menu %}
    <nav class="nav-primary hidden-xs">
        <ul class="nav" id="nav-accordion">
            <li>
                <a href="/xindex/">
                    <i class="icon-beer"></i>
                    <span>Inicio</span>
                </a>
            </li>
            <li>
                <a data-toggle="collapse" data-parent="#nav-accordion"
                   href="#collapseOne">
                    <i class="icon-building"></i>
                    <span>Mi Empresa</span>
                </a>
                <ul id="collapseOne" class="nav accordion-body out collapse">
                    <li>
                        <a href="buttons.html">Informaci&oacute;n General</a>
                    </li>
                    <li>
                        <a href="/subsidiaries/">
                            Mis Sucursales
                        </a>
                    </li>
                    <li>
                        <a href="/zones/">Zonas</a>
                    </li>
                    <li>
                        <a href="/business_units/">
                            Mis unidades de servicio
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/indicators/">
                    <i class="icon-bar-chart"></i>
                    <span>Mis Atributos</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="icon-group"></i>
                    <span>Mis Clientes</span>
                </a>
            </li>
            <li>
                <a href="/surveys/" class="blue-xindex">
                    <i class="icon-file-text-alt"></i>
                    <span>Mis Encuestas</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="icon-book"></i>
                    <span>Mis Reportes</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}
{% block mainContent %}
    <section class="vbox">
        <header class="header b-b">
            <p class="h4 animated bounceInDown">Surveys</p>
        </header>
        <section class="panel animated fadeInRight scrollable wrapper">
            <div class="row">
                <div class="headerXINDEX">
                    <div class="col-lg-6">
                        <div class="header h1">
                            Mis encuestas
                        </div>
                        <div class="footer h5">
                            <div class="pull-left padder-v">
                                Ordenar por
                            </div>
                            </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="header h4">
                            <a href="/surveys/add"
                               class="pull-right btn-success padder padder-v">
                                <i class="icon-plus"></i>
                                Agregar encuesta
                            </a>
                        </div>
                        <div class="footer h5">
                            <div class="input-group text-sm pull-right padder-v">
                                <div class="form-search form-inline">
                                    <input type="text"
                                           class="search-query input-sm form-control"
                                           placeholder="Search..."/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <section class="panel">
                        <ul class="list-group">
                            {% for each_survey in surveys.surveys %}
                                <li class="list-group-item">
                                    <div class="media">
                                        <div class="pull-left text-success m-t-sm">
                                            <input type="checkbox">
                                        </div>
                                        <div class="pull-right text-danger m-t-sm text-center">
                                            <div class="h4">
                                                <i class="icon-remove"></i>
                                            </div>
                                            <small class="text-muted">
                                                Estado
                                            </small>
                                        </div>
                                        <div class="pull-right m-t-sm text-center">
                                            <div class="h4">
                                                12
                                            </div>
                                            <small class="text-muted">
                                                Indicadores
                                            </small>
                                        </div>
                                        <div class="pull-right m-t-sm text-center">
                                            <div class="h4">
                                                {{ each_survey.counter }}
                                            </div>
                                            <small class="text-muted">
                                                Preguntas
                                            </small>
                                        </div>
                                        <div class="media-body">
                                            <div class="h4">
                                                <a href="#">
                                                    {{ each_survey.name }}
                                                </a>
                                            </div>
                                            <small class="text-muted">
                                                Creada el {{ each_survey.date }}
                                            </small>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </section>
                </div>
            </div>
            <!--
            <div id="datagrid">
                <section class="panel">
                    <div class="table-responsive">
                        <table id="mmySurveysGrid"
                               class="table table-striped datagrid m-b-sm">
                            <thead>
                            <tr>
                                <th>
                                    <div class="row">
                                        <div class="col-sm-8 m-t-xs m-b-xs">
                                            <div>
                                                <a class="btn btn-white btn-sm"
                                                   href="/surveys/add"
                                                   data-toggle="ajaxModal">
                                                    <i class="icon-plus-sign"></i>
                                                    Add
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 m-t-xs m-b-xs">
                                            <div class="input-group search datagrid-search">
                                                <input type="text"
                                                       class="input-sm form-control"
                                                       placeholder="Buscar">

                                                <div class="input-group-btn">
                                                    <button class="btn btn-white btn-sm">
                                                        <i class="icon-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" id="news_section">

                                    </div>
                                    <div id="myModal" class="modal hide fade"
                                         tabindex="-1" role="dialog">
                                        <div class="modal-body">
                                        </div>
                                    </div>
                                </th>
                            </tr>
                            </thead>

                            <tfoot class="">
                            <tr>
                                <th class="row">
                                    <div class="datagrid-footer-left col-sm-6 text-center-xs m-l-n"
                                         style="display:none;">
                                        <div class="grid-controls m-t-sm">
                              <span>
                                <span class="grid-start"></span> -
                                <span class="grid-end"></span> de
                                <span class="grid-count"></span>
                              </span>

                                            <div class="select grid-pagesize dropup"
                                                 data-resize="auto">
                                                <button data-toggle="dropdown"
                                                        class="btn btn-sm btn-white dropdown-toggle">
                                                    <span class="dropdown-label"></span>
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li data-value="5"><a
                                                            href="#">5</a></li>
                                                    <li data-value="10"><a
                                                            href="#">10</a></li>
                                                    <li data-value="20"
                                                        data-selected="true"><a
                                                            href="#">20</a></li>
                                                    <li data-value="50"><a
                                                            href="#">50</a></li>
                                                    <li data-value="100"><a
                                                            href="#">100</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <span>Por p&aacute;gina</span>
                                        </div>
                                    </div>
                                    <div class="datagrid-footer-right col-sm-6 text-left text-xs"
                                         style="display:none;">
                                        <div class="grid-pager m-r-n">
                                            <button type="button"
                                                    class="btn btn-sm btn-white grid-prevpage">
                                                <i
                                                        class="icon-chevron-left"></i>
                                            </button>
                                            <span>P&aacute;gina</span>

                                            <div class="inline">
                                                <div class="input-group dropdown combobox">
                                                    <input class="input-sm form-control"
                                                           type="text">

                                                    <div class="input-group-btn dropup">
                                                        <button class="btn btn-sm btn-white"
                                                                data-toggle="dropdown">
                                                            <i
                                                                    class="caret"></i>
                                                        </button>
                                                        <ul class="dropdown-menu pull-right"></ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <span>de <span
                                                    class="grid-pages"></span></span>
                                            <button type="button"
                                                    class="btn btn-sm btn-white grid-nextpage">
                                                <i
                                                        class="icon-chevron-right"></i>
                                            </button>
                                        </div>
                                    </div>
                                </th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </section>
            </div>
            -->

        </section>
    </section>
{% endblock %}

{% block externalJs %}

    <script src="/static/js/bootbox/bootbox.min.js"></script>
    <script src="/static/js/app.forms.xindex.js"></script>
    <!-- App -->
    <script src="/static/js/app.js"></script>
    <script src="/static/js/app.plugin.js"></script>
    <script src="/static/js/app.data.js"></script>
    <script src="/static/js/app.grids.data.js"></script>
    <!-- fuelux -->
    <script src="/static/js/fuelux/fuelux.js"></script>
    <!-- datatables -->
    <script src="/static/js/datatables/jquery.dataTables.min.js"></script>
    <!-- Sparkline Chart -->
    <script src="/static/js/charts/sparkline/jquery.sparkline.min.js"></script>
    <!-- Easy Pie Chart -->
    <script src="/static/js/charts/easypiechart/jquery.easy-pie-chart.js"></script>

    <script src="/static/js/datepicker/bootstrap-datepicker.js"></script>
    <!-- slider -->
    <script src="/static/js/slider/bootstrap-slider.js"></script>
    <!-- file input -->
    <script src="/static/js/file-input/bootstrap.file-input.js"></script>
    <!-- combodate -->
    <script src="/static/js/libs/moment.min.js"></script>
    <script src="/static/js/combodate/combodate.js"></script>
    <!-- parsley -->
    <script src="/static/js/parsley/parsley.min.js"></script>
    <!-- select2 -->
    <script src="/static/js/select2/select2.min.js"></script>

    <script src="/static/js/app.grids.xindex.js"></script>

{% endblock %}
</body>
</html>