{% extends "base.html" %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Agregar Sucursal{% endblock %}</title>
</head>
<body>
{% block mainContent %}
    <section id="content">
        <section class="vbox">
            <header class="header b-b">
                <p class="h4 animated bounceInDown">Agregar Sucursal</p>
            </header>
            <section class="wrapper" id="basic">
                <form class="form-horizontal animated fadeInRight" data-validate="parsley" id="formulario" method="POST"
                      action="">{% csrf_token %}
                    <div class="form-group m-t-lg">
                        <label class="col-sm-4 control-label">Compañia:</label>

                        <div class="col-sm-5">
                            {{ formulario.company }}
                            {{ formulario.company.errors }}
                        </div>
                    </div>
                    <div class="form-group m-t-lg">
                        <label class="col-sm-4 control-label">Nombre:</label>

                        <div class="col-sm-6">
                            {{ formulario.name }}
                            {{ formulario.name.errors }}
                        </div>
                    </div>
                    <div class="form-group m-t-lg">
                        <label class="col-sm-4 control-label">Tipo de Sucursal:</label>

                        <div class="col-sm-5">
                            {{ formulario.subsidiary_types }}
                            {{ formulario.subsidiar_types.errors }}
                        </div>
                    </div>
                    <div class="form-group m-t-lg">
                        <label class="col-sm-4 control-label">Unidad de Servicio:</label>

                        <div class="col-sm-6">
                            {{ formulario.business_unit }}
                            {{ formulario.business_unit.errors }}
                        </div>
                    </div>
                    <div class="form-group m-t-lg">
                        <label class="col-sm-4 control-label">Zonas:</label>

                        <div class="col-sm-5">
                            {{ formulario.zone }}
                            <div class="line line-dashed m-t-xs"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-6 col-sm-offset-6">
                            <button type="submit" class="btn btn-twitter">Agregar</button>
                            <a class="btn btn-white" href="/subsidiaries">
                                Cancelar
                            </a>
                        </div>
                    </div>
                </form>
            </section>
        </section>
    </section>
{% endblock %}
</body>
</html>