{% extends "base.html" %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Detalles Sucursal{% endblock %}</title>
</head>
<body>
{% block mainContent %}
    <section id="content">
        <section class="vbox">
            <header class="header b-b bg-white">
                <p class="h4 animated bounceInDown">Ver una sucursal</p>
            </header>
            <section class="wrapper animated fadeInDown" id="basic">
                <div class="col-lg-12">
                    <div class="row">
                    <div class="col-lg-10">

                        <small class="h2">{{ sub.name }}</small>
                        &nbsp;&nbsp;
                        <small class="text-muted h5">
                            {{ sub.state_id.name }},
                            {{ sub.city_id.name }},
                            {{ sub.zone.name }}
                        </small>
                    </div>
                    <div class="col-lg-2">
                        <a href="/subsidiaries/edit/{{ sub.id }}/"
                           class="text-muted"
                           id="edit-information-sub"
                           data-toggle="ajaxModal">
                            <i class="icon-edit icon-2x"></i>Editar
                        </a>
                    </div>
                    </div>
                </div>
                <div class="col-lg-12 padder-v">
                    Dirección: &nbsp;&nbsp; {{ sub.address }}<br>
                    Pais: &nbsp;&nbsp;{{ sub.country_id }}<br>
                    Estado: &nbsp;&nbsp; {{ sub.state_id }}<br>
                    Ciudad: &nbsp;&nbsp; {{ sub.city_id }}<br>
                    Telefono: &nbsp;&nbsp; {{ sub.phone }}
                </div>
                <div class="col-lg-12 padder-v h3">
                    Servicios de esta sucursal
                </div>
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-lg-1">Filtrar:</div>
                                <div class="col-lg-5">
                                    <select class="form-control">
                                        <option>Subsidiary List</option>
                                    </select>
                                </div>
                                <div class="col-lg-5">
                                    <div class="form-search form-inline">
                                        <form action="" method="GET">
                                            <input type="text" id="id_q" name="q"
                                                   class="search-query input-sm form-control"
                                                   placeholder="Buscar..." value="{{ query_string }}"/>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6"></div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-6">
                            <table class="table table-striped m-b-none">

                                    <thead>
                                        <tr>
                                            <th>Nombre del servicio</th>
                                            <th>Unidad del servicio</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for eachService in services.services%}
                                        <tr>
                                            <td>{{ eachService.service_name }}</td>
                                            <td>{{ eachService.business_name }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                        </div>
                        <div class="col-lg-6"></div>
                    </div>
                </div>
            </section>
        </section>
    </section>
{% endblock %}
</body>
</html>