{% extends "base.html" %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Subsidiarias{% endblock %}</title>
</head>
<body>
{% block menu %}
    <nav class="nav-primary hidden-xs">
        <ul class="nav" id="nav-accordion">
            <li>
                <a href="/xindex/">
                    <i class="icon-beer"></i>
                    <span>Inicio</span>
                </a>
            </li>
            <li>
                <a data-toggle="collapse" data-parent="#nav-accordion"
                   href="#collapseOne">
                    <i class="icon-building"></i>
                    <span>Mi Empresa</span>
                </a>
                <ul id="collapseOne" class="nav accordion-body in collapse">
                    <li>
                        <a href="#">Informaci&oacute;n General</a>
                    </li>
                    <li>
                        <a href="/subsidiaries/" class="blue-xindex">
                            Mis Sucursales
                        </a>
                    </li>
                    <li>
                        <a href="/zones/">
                            Zonas
                        </a>
                    </li>
                    <li>
                        <a href="/business_units/">
                            Mis unidades de servicio
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/indicators/">
                    <i class="icon-bar-chart"></i>
                    <span>Mis Atributos</span>
                </a>
            </li>
            <li>
                <a href="/clients/">
                    <i class="icon-group"></i>
                    <span>Mis Clientes</span>
                </a>
            </li>
            <li>
                <a href="/surveys/">
                    <i class="icon-file-text-alt"></i>
                    <span>Mis Encuestas</span>
                </a>
            </li>
            <li>
                <a data-toggle="collapse" data-parent="#nav-accordion"
                   href="#report-list">
                    <i class="icon-book"></i>
                    <span>Mis Reportes</span>
                </a>
                <ul id="report-list" class="nav accordion-body in collapse">
                    <li>
                        <a href="/reports/general">Satisfacci&oacute;n General</a>
                    </li>
                    <li>
                        <a href="/reports/zone">Zona</a>
                    </li>
                    <li>
                        <a href="/reports/subsidiary">Sucursal</a>
                    </li>
                    <li>
                        <a href="/reports/business_unit">Unidad de servicio</a>
                    </li>
                    <li>
                        <a href="/reports/service">Servicio</a>
                    </li>
                    <li>
                        <a href="/reports/moment">Punto de contacto</a>
                    </li>
                    <li>
                        <a href="/reports/attribute">Atributo</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
{% endblock %}
{% block mainContent %}
    <section class="vbox">
        <header class="header b-b">
            <p class="h4 animated bounceInDown">Subsidiarias</p>
        </header>
        <section class="panel padder padder-v animated fadeInRight">

            <div class="col-lg-12 h2">
                Mis Sucursales
            </div>
            <div class="col-lg-12 padder-v">

                <!--
                <div class="row">
                    <div class="col-lg-3">
                        <a class="btn bg-success btn-modal-xindex"
                           href="/subsidiaries/add/"
                           data-toggle="ajaxModal"
                           style="width: 100%">
                            <i class="icon-plus"></i>
                            Crear nueva sucursal
                        </a>
                    </div>
                    <div class="col-lg-1"></div>
                    <div class="col-lg-3">
                        <div class="input-group search datagrid-search"
                             style="width: 100% !important;">
                            <input type="text"
                                   class="input-sm form-control"
                                   placeholder="Buscar">

                            <div class="input-group-btn">
                                <button class="btn btn-white btn-sm">
                                    <i class="icon-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="row">
                            <div class="col-lg-1">
                                <label>Filtar:</label>
                            </div>
                            <div class="col-lg-5">
                                <select class="form-control">
                                    <option>Zona</option>
                                    <option>Tipo de sucursal</option>
                                </select>
                            </div>
                            <div class="col-lg-6">
                                <select class="form-control">
                                    <option>all-subsidiaries</option>
                                    <option>all-zones</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">

                <table class="table table-striped datagrid m-b-sm">
                    <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Tipo de sucursal</th>
                        <th>Zona</th>
                        <th>Ubicación</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for eachSubsidiary in all_subsidiaries %}
                        <tr>
                        <td>
                            <a href="/subsidiaries/details/{{ eachSubsidiary.id }}">
                                {{ eachSubsidiary.name }}
                            </a>
                        </td>
                        <td>{{ eachSubsidiary.subsidiary_types.name }}</td>
                        <td>{{ eachSubsidiary.zone.name }}</td>
                        <td>{{ eachSubsidiary.state_id.name }}</td>
                        <td>
                            <a href="#"><i class="icon-edit"></i></a>|
                            <a href="/subsidiaries/remove/{{ eachSubsidiary.id }}" id="remove-subsidiary"><i class="icon-remove"></i></a>
                        </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                -->


        <div id="datagrid">
                <section class="panel">
                    <div class="table-responsive">
                        <table id="mySubsidiaryGrid"
                               class="table table-striped datagrid m-b-sm">
                            <thead>
                            <tr style="background-color: transparent; border:none !important;">
                                <th style="background-color: transparent; border: none !important;">
                                    <div class="row">
                                        <div id=news_section></div>
                                        <div class="col-sm-12 col-lg-12">
                                            <div class=" row">
                                                <div class="col-sm-3 col-lg-3">
                                                <a class="btn bg-success btn-modal-xindex"
                                                   href="/subsidiaries/add/"
                                                   data-toggle="ajaxModal"
                                                   style="width: 100%">
                                                    <i class="icon-plus"></i>
                                                    Nueva sucursal
                                                </a>
                                                </div>
                                                <div class="col-sm-2 col-lg-2">
                                                </div>
                                                <div class="col-sm-3 col-lg-3" style="padding-top: 18px">
                                                    <div class="input-group search datagrid-search"
                                                         style="width: 100% !important;">
                                                        <input type="text"
                                                               class="input-sm form-control"
                                                               placeholder="Buscar">

                                                        <div class="input-group-btn">
                                                            <button class="btn btn-white btn-sm">
                                                                <i class="icon-search"></i>
                                                            </button>
                                                        </div>
                                                     </div>
                                                </div>
                                                <div class="col-sm-4 col-lg-4" style="padding-top: 18px">
                                                    <div class="row">
                                                    <div class="col-sm-2 col-lg-2 text-center">
                                                        <span>Filtrar:</span>
                                                    </div>
                                                    <div class="col-sm-5 col-lg-5">
                                                        <div class="select"
                                                             data-resize="auto"
                                                             id="filterby"
                                                             style="width: 100% !important;">
                                                            <button data-toggle="dropdown"
                                                                    class="btn btn-sm btn-white dropdown-toggle"
                                                                    style="width: 100% !important;">
                                                                <span class="dropdown-label"></span>
                                                                <span class="caret"></span>
                                                            </button>
                                                            <ul class="dropdown-menu mainM">
                                                                <li data-value="Tipo"
                                                                    data-selected="true">
                                                                    <a href="#">Tipo</a>
                                                                </li>
                                                                <li data-value="Zona">
                                                                    <a href="#">Zona</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-5 col-lg-5">
                                                        <div class="select filter"
                                                             data-resize="auto"
                                                             style="width: 100% !important;">
                                                            <button data-toggle="dropdown"
                                                                    class="btn btn-sm btn-white dropdown-toggle"
                                                                    style="width: 100% !important;">
                                                                <span class="dropdown-label"></span>
                                                                <span class="caret"></span>
                                                            </button>
                                                            <ul class="dropdown-menu" id="second-filter-subsidiary">
                                                                <li data-value="default" data-selected="true">
                                                                    <a href="#">Todas</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </th>
                            </tr>
                            </thead>

                            <tfoot class="">
                            <tr>
                                <th class="row">
                                    <div class="datagrid-footer-left col-sm-6 text-center-xs m-l-n"
                                         style="display:none;">
                                        <div class="grid-controls m-t-sm">
                              <span>
                                <span class="grid-start"></span> -
                                <span class="grid-end"></span> de
                                <span class="grid-count"></span>
                              </span>

                                            <div class="select grid-pagesize dropup"
                                                 data-resize="auto">
                                                <button data-toggle="dropdown"
                                                        class="btn btn-sm btn-white dropdown-toggle">
                                                    <span class="dropdown-label"></span>
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li data-value="5"><a
                                                            href="#">5</a></li>
                                                    <li data-value="10"><a
                                                            href="#">10</a></li>
                                                    <li data-value="20"
                                                        data-selected="true"><a
                                                            href="#">20</a></li>
                                                    <li data-value="50"><a
                                                            href="#">50</a></li>
                                                    <li data-value="100"><a
                                                            href="#">100</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <span>Por p&aacute;gina</span>
                                        </div>
                                    </div>
                                    <div class="datagrid-footer-right col-sm-6 text-right text-center-xs"
                                         style="display:none;">
                                        <div class="grid-pager m-r-n">
                                            <button type="button"
                                                    class="btn btn-sm btn-white grid-prevpage">
                                                <i class="icon-chevron-left"></i>
                                            </button>
                                            <span>P&aacute;gina</span>

                                            <div class="inline">
                                                <div class="input-group dropdown combobox">
                                                    <input class="input-sm form-control"
                                                           type="text">

                                                    <div class="input-group-btn dropup">
                                                        <button class="btn btn-sm btn-white"
                                                                data-toggle="dropdown">
                                                            <i class="caret"></i>
                                                        </button>
                                                        <ul class="dropdown-menu pull-right"></ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <span>de <span
                                                    class="grid-pages"></span></span>
                                            <button type="button"
                                                    class="btn btn-sm btn-white grid-nextpage">
                                                <i class="icon-chevron-right"></i>
                                            </button>
                                        </div>
                                    </div>
                                </th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </section>
            </div>
        </div>
        </section>
    </section>
{% endblock %}

{% block externalJs %}
    <!-- App -->
    <script src="/static/js/app.js"></script>
    <script src="/static/js/app.plugin.js"></script>
    <script src="/static/js/app.grids.data.js"></script>

    <!--Bootbox-->
    <script src="/static/js/bootbox/bootbox.min.js"></script>
    <!-- fuelux -->
    <script src="/static/js/fuelux/fuelux.js"></script>
    <script src="/static/js/libs/underscore-min.js"></script>
    <!-- datatables -->
    <script src="/static/js/datatables/jquery.dataTables.min.js"></script>
    <!-- Sparkline Chart -->
    <script src="/static/js/charts/sparkline/jquery.sparkline.min.js"></script>
    <!-- Easy Pie Chart -->
    <script src="/static/js/charts/easypiechart/jquery.easy-pie-chart.js"></script>

    <script src="/static/js/app.grids.xindex.js"></script>
    <script src="/static/js/app.forms.xindex.js"></script>

<script>
    $(document).on('click', '.remove-subsidiary', function (e) {
        e.preventDefault();
        var href = $(this).attr('href');
        bootbox.dialog({
            message: "La sucursal tiene X unidades de sercio que quedarán " +
                    "inhabilitas si se realiza esta acción. " +
                    "¿Esta seguro que desea eliminar la sucursal NOMBRE? ",
            title: "Deshabilitar una sucursal",
            buttons: {
                success: {
                    label: "Cancelar",
                    className: "bg-danger btn-modal-xindex",
                    callback: function () {
                    }
                },
                main: {
                    label: "Aceptar",
                    className: "bg-success btn-modal-xindex",
                    callback: function () {
                        $.ajax({
                            type: 'GET',
                            url: href,
                            success: function (msg) {
                                if (msg == 'Si') {
                                    setTimeout(function () {
                                        window.location.reload(true);
                                    }, 0);
                                    return true;
                                }
                            },
                            error: function (msg) {
                            }

                        });
                    }
                }
            }
        });
    });
</script>
{% endblock %}
</body>
</html>