<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <h4>{{ titulo }}</h4>
    <form id="form_update" method="POST">{% csrf_token %}
        <section>
            <article>
                <label for="id_company">Compañia:</label>
                {{ formulario.company.errors }}
                {{ formulario.company }}
            </article>
            <article>
                <label for="id_name">Nombre:</label>
                {{ formulario.name.errors }}
                {{ formulario.name }}
            </article>
            <article>
                <label for="id_active">¿Activa?</label>
                {{ formulario.active.errors }}
                {{ formulario.active }}
            </article>
            <article>
                <label for="id_subsidiary_types">Tipo de subsidiaria:</label>
                {{ formulario.subsidiary_types.errors }}
                {{ formulario.subsidiary_types }}
            </article>
            <article>
                <label for="id_business_unit">Unidad de negocio:</label>
                {{ formulario.business_unit.errors }}
                {{ formulario.business_unit }}
            </article>
            <article>
                <label for="id_zone">Zona:</label>
                {{ formulario.zone.errors }}
                {{ formulario.zone }}
            </article>
        </section>
        <input type="submit" value="Modificar">
    </form>
</body>
</html>