<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <style>
.datepicker{z-index:1151;}
</style>
</head>
<body>
<div class="modal-dialog" id="addClientModal">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close"
                    data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Agregar clientes</h4>
        </div>
        <div class="modal-body panel"
             style="padding: 0 !important; border: none; box-shadow: none;
             width: 400px !important; margin: auto"
             id="id_modal_body">
                <header class="panel-heading bg-light" id="tab-header">
                    <ul class="nav nav-tabs nav-justified">
                        <li class="active">
                            <a href="#add-manual" data-toggle="tab">
                                Subir manualmente
                            </a>
                        </li>
                        <li class="">
                            <a href="#add-csv-file" data-toggle="tab">
                                Subir archivo
                            </a>
                        </li>
                    </ul>
                </header>
                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="add-manual">
                            <div class="padder-xl">
                            <form class="form-horizontal animated"
                                  data-validate="parsley"
                                  id="add-client-form"
                                  method="post"
                                  action="/clients/add/"
                                  enctype="multipart/form-data">{% csrf_token %}
                                <div class="form-group m-t-lg">
                                    Nombre:
                                    <input type="text"
                                           class="form-control"
                                           name="client_name"
                                           id="id_client_name">
                                    </div>
                                <div class="form-group m-t-lg">
                                    Apellido:
                                    <input type="text"
                                           class="form-control"
                                           name="client_surname"
                                           id="id_client_surname">
                                </div>
                                <div class="form-group m-t-lg">
                                    Sexo:
                                    <select class="form-control"
                                            name="client_sex"
                                            id="id_client_sex">
                                        <option value="M">Masculino</option>
                                        <option value="F">Femenido</option>
                                    </select>
                                </div>
                                <div class="form-group m-t-lg">
                                    Email:
                                    <input type="email"
                                           class="form-control"
                                           name="client_email"
                                           id="id_client_email">
                                </div>
                            <!--
                                <div class="form-group m-t-lg">
                                    Fecha de nacimiento:
                                    <input class="input-sm input-s datepicker form-control"
                                           type="text"
                                           value="{{ date }}"
                                           data-date-format="dd-mm-yyyy"
                                           name="client_date"
                                           id="id_client_date">
                                </div>
                            -->
                                <div class="form-group m-t-lg">
                                    Telefono:
                                    <input type="text"
                                           class="form-control"
                                           name="client_phone"
                                           id="id_client_phone">
                                </div>
                                <div class="form-group m-t-lg hidden">
                                    Compañia:
                                    <select class="form-control"
                                            name="client_company"
                                            id="id_client_company">
                                        {% for eachCompany in companies %}
                                            <option value="{{ eachCompany.id }}">
                                                {{ eachCompany.name }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="form-group m-t-lg">
                                    <input type="submit"
                                            class="btn btn-modal-xindex blue-xindex pull-right"
                                            value="Guardar" />
                                </div>
                            </form>
                        </div>
                        </div>
                        <div class="tab-pane" id="add-csv-file">
                        <div class="padder-xl">
                            <form class="form-horizontal animated"
                                  data-validate="parsley"
                                  id="add-csv-form"
                                  method="post"
                                  action="/clients/csv/"
                                  enctype="multipart/form-data">{% csrf_token %}
                            <div id="form-csv-div">
                                <div class="form-group m-t-lg">
                                    Utiliza esta función para subir una lista de clientes
                                    a los que podrás encuestar más adelante
                                </div>

                                <div class="form-group m-t-lg">
                                    Selecciona un archivo CSV:
                                    <input type="file"
                                           class="form-control"
                                           name="client_csv"
                                           id="id_client_csv">
                                </div>

                                <div class="form-group m-t-lg">
                                    <input type="checkbox" id="ask-too">
                                    Deseo también encuestar a estos clientes
                                </div>

                                <div class="form-group m-t-lg" id="process-file-div">
                                    <a class="btn btn-modal-xindex blue-xindex pull-right hidden"
                                       href="#" id="process-file">
                                        <i class='icon-upload text-white'></i>
                                        Procesar
                                    </a>
                                </div>
                            </div>
                            <div id="send-survey" class="hidden">
                            <div class="form-group m-t-lg">
                                Configura la forma en que deseas encuestar a tus clientes.
                            </div>
                            <div class="form-group m-t-lg">
                                <input type="checkbox" class="" value="email" checked>
                                Enviar encuesta por correo electrónico
                                <br>
                                <input type="checkbox" class="" value="call">
                                Enviar encuesta por teléfono
                            </div>
                            <div class="form-group m-t-lg">
                                ¿Que sucursal y servicio utilizaron tus clientes?
                            </div>
                            <div class="form-group m-t-lg">
                                <small class="text-muted">Zona:</small>
                                <select class="form-control"
                                        id="zone-to"
                                        data-placeholder="Selecciona una zona">
                                        <option>Selecciona una zona</option>
                                    {% for eachZone in zones %}
                                        <option value="{{ eachZone.id }}">
                                        {{ eachZone.name }}
                                        </option>
                                    {% endfor %}
                                </select><br>
                                <small class="text-muted">Sucursal:</small>
                                <select class="form-control"
                                        id="subsidiary-to">
                                        <option>
                                            Sucursal
                                        </option>
                                </select><br>
                                <small class="text-muted">Unidad de servicio:</small>
                                <select class="form-control"
                                        id="business-unit-to">
                                        <option>
                                            Unidad de servicio
                                        </option>
                                </select><br>
                                <small class="text-muted">Servicio:</small>
                                <select class="form-control"
                                        id="service-to">
                                        <option class="text-muted">
                                            Servicio
                                        </option>
                                </select>
                            </div>

                            <div class="form-group m-t-lg">
                                <a class="btn btn-modal-xindex blue-xindex pull-right"
                                   href="#" id="final-post">
                                    <i class='icon-upload text-white'></i>
                                    Procesar
                                </a>
                            </div>
                            </div>
                        </form>
                        </div>
                        </div>
                    </div>
                </div>
        </div>
        <div id="csvimport" class="hidden">
            <div class="col-lg-12">
                <div class="row" id="csvRow">

                </div>
            </div>
            <table id="csvToTable"
                   class="table table-striped datagrid m-b-sm"
                   style="margin: auto !important; width: 100%">
            </table>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
<script>
    $('#id_client_date').datepicker();

    //// <------ Remove modal with close class ->
    $('.close').on('click', function (e) {
        e.preventDefault();
        $('div.modal').modal('hide');
        $('#ajaxModal').remove();
    });

    $("#id_client_csv").change(function(e) {

        var fileName = $("input#id_client_csv").val().replace(/C:\\fakepath\\/i, '');
        var ext = fileName.split(".").pop().toLowerCase();

        if($.inArray(ext, ["csv"]) == -1) {
            alert('Formato de archivo incorrecto');
            return false;
        }

        if (e.target.files != undefined) {

            if ($("#csvRow").children().length != 0){
                $('#add-new-csv').removeClass("hidden");
            }
            $('#tab-header').addClass("hidden");
            $('#csvimport').removeClass("hidden");
            $("a#process-file").removeClass("hidden");
            $("#csvRow").children().remove();
            $("#addClientModal").css("width","900px");
            $("#id_modal_body").addClass("hidden");
            $('#form-csv-div').addClass("hidden");
            $(".modal-title").html("Vista previa de los datos del archivo: "
                    + "<label>"
                    + fileName +"&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"
                    + "</label>"
                    + "<small><a href='#' id='add-new-csv' class='text-muted'>"
                    +"<i class='icon-file-text'></i>"
                    +"Cambiar</a></small>"
                    +"&nbsp;&nbsp;&nbsp;"
                    + "<a href='#' id='csv-next' class='text-muted btn btn-success btn-modal-xindex'>"
                    +"<i class='icon-arrow-right text-white'></i>"
                    +"Siguiente</a>");
            var reader = new FileReader();
            reader.onload = function(e) {
                var csvval=e.target.result.split("\n");
                var csvStartValue=csvval[0].split(",");

                for(var a=0;a<csvStartValue.length;a++){

                    $("#csvRow").append("<div class='col-lg-3 padder-v'>" +
                            "<div class='row'>" +
                            "<div class='col-lg-9'><select class='form-control field'>" +
                            "<option value='null'>Sin asignar</option>" +
                            "<option value='first_name'>Nombre</option>" +
                            "<option value='last_name'>Apellido</option>" +
                            "<option value='sex'>Sexo</option>" +
                            "<option value='phone'>Teléfono</option>" +
                            "<option value='email'>Email</option>" +
                            "</select></div>" +

                            "<div class='ck-button btn col-lg-2'>" +
                               "<label>" +
                                  "<input type='checkbox' id='checkbox"+a+"' class='checkbox hidden'><span>OK</span>" +
                               "</label>" +
                            "</div>" +
                            "</div>" +

                            "<br>" +
                            "<table " +
                            "id='table"+a+"'" +
                            "class='table'" +
                            "style='margin: auto !important; width: 100%'></table>" +
                            "</div>");
                }

                for (var k=0; k<csvval.length-1; k++){
                    var csvvalue=csvval[k].split(",");
                    for(var j=0;j<csvvalue.length;j++){
                        var dataValue=csvvalue[j];
                        $("#table"+j).append("<tr class="+k+"><td>"+dataValue+"</td></tr>");
                    }
                }
            };
            reader.readAsText(e.target.files.item(0));

        }

        return false;

    });

    $(document).on('click', '#add-new-csv', function () {
        $("#id_modal_body").removeClass("hidden");
        $("#form-csv-div").removeClass("hidden");
        $(this).addClass("hidden");
        $("#csv-next").addClass("hidden");
    });

    $(document).on('click', '#csv-next', function () {
        if ($("#ask-too").is(":checked")){
            $("#send-survey").removeClass("hidden");
            $("#id_modal_body").removeClass("hidden");
            $('#csvimport').addClass("hidden");
            $('#add-new-csv').addClass("hidden");
            $("#csv-next").addClass("hidden");
            $(".modal-title").html("Sucursal y servicios: ");
            $("#addClientModal").css("width","422px");
        } else {
            console.log("Not checked");
            onlyAddClient();
        }

    });

    $('#process-file').on('click', function () {
        if ($("#ask-too").is(":checked")){
            $("#send-survey").removeClass("hidden");
            $('#process-file-div').addClass("hidden");
            $('#form-csv-div').addClass("hidden");
        } else {
            console.log("Not checked");
            onlyAddClient();
        }
    });

    /*
    * Función para deshabilitar las opciones seleccionadas en los <select>*/
    $(document).on('change', 'select.field', function () {
        var $fields = $("select.field");
        $("option", $fields).prop("disabled", false);
        $fields.each(function() {
            var $select = $(this),
                $options = $fields.not($select).find('option'),
                selectedText = $select.children('option:selected').val();
            $options.each(function() {
                if($(this).val() == selectedText && $(this).val() != 'null'){
                    $(this).prop("disabled", true);
                }
            });
        });
    });
    //$fields.eq(0).trigger('change');

    /*
    * Función para limitar el numero de <checkbox> checked*/
    $(document).on('change', '.checkbox', function(e) {

        /*
        * Verificar que la opción seleccionada no tenga un valor 'null'*/
        if ($(this).is(":checked")){
            var selectedValue = $(this).closest("div.col-lg-3").find("select").children('option:selected').val();
            if(selectedValue=='null') {
                $(this).prop('checked', false);
            } else {
                $(this).closest("div.col-lg-3").find("select").prop('disabled', true);
            }
        } else {
            $(this).closest("div.col-lg-3").find("select").prop('disabled', false);
        }
        var num_checked = 0;

        $('.checkbox').each(function() {
            if ( $(this).prop('checked') ) num_checked++;
        });

        var max_checked = 4;

        /*
        * Verificar que se exceda el número máximo de elementos <checkbox> con
        * el atributo 'checked, true' y no deshabilite el select cuando se exceda*/
        if ( num_checked > max_checked ) {
            $(this).prop('checked', false);
            $(this).closest("div.col-lg-3").find("select").prop('disabled', false);
      }
    });

/*
* POST final
* */
    $('#final-post').on('click', function () {
        var myZone = $("select#zone-to").children('option:selected').val(),
            mySubsidiary = $("select#subsidiary-to").children('option:selected').val(),
            myBusinessUnit = $("select#business-unit-to").children('option:selected').val(),
            myService = $("select#service-to").children('option:selected').val();

        var activity = [], zone = {}, subsidiary = {}, businessUnit = {}, service = {};

        zone.name = "id_zone";
        zone.value = myZone;
        activity.push(JSON.stringify(zone));

        subsidiary.name = "subsidiary";
        subsidiary.value = mySubsidiary;
        activity.push(JSON.stringify(subsidiary));

        businessUnit.name = "business_unit";
        businessUnit.value = myBusinessUnit;
        activity.push(JSON.stringify(businessUnit));

        service.name = "service";
        service.value = myService;
        activity.push(JSON.stringify(service));


        addActivityClient(activity);
    });

/*
* Obtener sucursales de la zona
* */
    $("select#zone-to").on('change', function (e) {
        e.preventDefault();

        var zone_filter = $(this).children('option:selected').val();
        var url = "/clients/zone/" + zone_filter;

        $.ajax({
            type: "GET",
            url: url,
            dataType: 'json',
            data: 'nocache' + Math.random(),
            success: function (response) {
                var subOptions = '', busOptions = '', serOptions = '';
                $.each(response["subsidiaries"], function(idx,subsidiary) {
                    subOptions += '<option value="' + subsidiary.id + '">' +
                               subsidiary.name + '</option>'
                });

                $.each(response["business"], function(idx,business) {
                    busOptions += '<option value="' + business.id + '">' +
                               business.name + '</option>'
                });

                $.each(response["services"], function(idx,service) {
                    serOptions += '<option value="' + service.id + '">' +
                               service.name + '</option>'
                });

                $("select#subsidiary-to").html(subOptions);
                $("select#business-unit-to").html(busOptions);
                $("select#service-to").html(serOptions);
            },
            error: function (response) {
                alert('NO!')
            }
        });

    });

/*
* Obtener unidades de servicio de la sucursal
* */
    $("select#subsidiary-to").on('change', function (e) {
        e.preventDefault();

        var subsidiary_filter = $(this).children('option:selected').val();
        var url = "/clients/subsidiary/" + subsidiary_filter;

        $.ajax({
            type: "GET",
            url: url,
            dataType: 'json',
            data: 'nocache' + Math.random(),
            success: function (response) {
                var busOptions = '', serOptions = '';

                $.each(response["business"], function(idx,business) {
                    busOptions += '<option value="' + business.id + '">' +
                               business.name + '</option>'
                });

                $.each(response["services"], function(idx,service) {
                    serOptions += '<option value="' + service.id + '">' +
                               service.name + '</option>'
                });

                $("select#business-unit-to").html(busOptions);
                $("select#service-to").html(serOptions);
            },
            error: function (response) {
                alert('NO!')
            }
        });

    });

/*
* Obtener servicios de la unidad de servicio
* */
    $("select#business-unit-to").on('change', function (e) {
        e.preventDefault();

        var business_filter = $(this).children('option:selected').val();
        var url = "/clients/business/" + business_filter;

        $.ajax({
            type: "GET",
            url: url,
            dataType: 'json',
            data: 'nocache' + Math.random(),
            success: function (response) {
                var serOptions = '';

                $.each(response["services"], function(idx,service) {
                    serOptions += '<option value="' + service.id + '">' +
                               service.name + '</option>'
                });

                $("select#service-to").html(serOptions);
            },
            error: function (response) {
                alert('NO!')
            }
        });

    });

/*
* Agregar CLIENTES que sin enviar encuesta ni crear actividad
* */
function onlyAddClient(){
    var $dataTables = $("div.col-lg-3").find('table'),
        serialize = $("#add-csv-form").serializeArray(),
        url = "/clientes/csv/";

    console.log("No. de tablas: "+$dataTables.length);

    $dataTables.each(function(a) {
        var dataRowsClient = $(this).find("tr").length;

        for(var x=0; x<dataRowsClient; x++){
            var newClient = {};
            newClient.name = "newClient";
            newClient.value = [];

        $dataTables.each(function() {

            var $eachTable = $(this),
                $dataRows = $(this).find("tr."+x);

            if($eachTable.closest("div.col-lg-3").find("input.checkbox").is(":checked")){

                $dataRows.each(function() {
                    var client = {};

                    client.name = $eachTable.closest("div.col-lg-3").find("select").children('option:selected').val();
                    client.value = $(this).text();
                    newClient.value.push(JSON.stringify(client));
                });
            }

        });

            serialize.push(newClient);
        }
        return false;

    });
    console.log(serialize);

    $.ajax({
        type: 'POST',
        url: $('#add-csv-form').attr('action'),
        data: serialize,
        success: function () {
            setTimeout(function () {
                window.location.reload()
            }, 0);
        },
        error: function () {
            console.log('Fallo');
        }
    });
}

/*
* Agregar CLIENTES-ACTIVIDAD y enviarles una encuesta
* */
function addActivityClient(activity){
    var $dataTables = $("div.col-lg-3").find('table'),
        serialize = $("#add-csv-form").serializeArray(),
        url = "/clientes/csv/";

    console.log("No. de tablas: "+$dataTables.length);

    $dataTables.each(function(a) {
        var dataRowsClient = $(this).find("tr").length;

        for(var x=0; x<dataRowsClient; x++){
            var newClient = {};
            newClient.name = "newClient";
            newClient.value = [];

        $dataTables.each(function() {

            var $eachTable = $(this),
                $dataRows = $(this).find("tr."+x);

            if($eachTable.closest("div.col-lg-3").find("input.checkbox").is(":checked")){

                $dataRows.each(function() {
                    var client = {};

                    client.name = $eachTable.closest("div.col-lg-3").find("select").children('option:selected').val();
                    client.value = $(this).text();
                    newClient.value.push(JSON.stringify(client));
                });
            }

        });

            serialize.push(newClient);
        }
        serialize.push({name: 'id_activity', value: activity});
        return false;

    });
    console.log(serialize);

    $.ajax({
        type: 'POST',
        url: $('#add-csv-form').attr('action'),
        data: serialize,
        success: function () {
            setTimeout(function () {
                window.location.reload()
            }, 0);
        },
        error: function () {
            console.log('Fallo');
        }
    });
}
</script>
</body>
</html>
