{% extends "base.html" %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Detalles Cliente{% endblock %}</title>
</head>
<body>
{% block menu %}
    <nav class="nav-primary hidden-xs">
        <ul class="nav" id="nav-accordion">
            <li>
                <a href="/xindex/">
                    <i class="icon-beer"></i>
                    <span>Inicio</span>
                </a>
            </li>
            <li>
                <a data-toggle="collapse" data-parent="#nav-accordion"
                   href="#collapseOne">
                    <i class="icon-building"></i>
                    <span>Mi Empresa</span>
                </a>
                <ul id="collapseOne" class="nav accordion-body out collapse">
                    <li>
                        <a href="#">Informaci&oacute;n General</a>
                    </li>
                    <li>
                        <a href="/subsidiaries/">
                            Mis Sucursales
                        </a>
                    </li>
                    <li>
                        <a href="/zones/">Zonas</a>
                    </li>
                    <li>
                        <a href="/business_units/">
                            Mis unidades de servicio
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/indicators/">
                    <i class="icon-bar-chart"></i>
                    <span>Mis Atributos</span>
                </a>
            </li>
            <li>
                <a href="/surveys/">
                    <i class="icon-file-text-alt"></i>
                    <span>Mis Encuestas</span>
                </a>
            </li>
            <li>
                <a href="/clients/" class="blue-xindex">
                    <i class="icon-group"></i>
                    <span>Mis Clientes</span>
                </a>
            </li>
            <li>
                <a href="/reports/general">
                    <i class="icon-book"></i>
                    <span>Mis Reportes</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}
{% block mainContent %}
    <input type="hidden"  id="id-client-grid"
           value="{{ sub.id }}">
    <section id="content">
        <section class="vbox">
            <header class="header b-b bg-white">
                <p class="h4 animated bounceInDown">Actividad del cliente</p>
            </header>
            <section class="wrapper animated fadeInDown" id="basic">
                <div class="col-lg-12">
                    <div class="row">
                    <div class="col-lg-10">

                        <small class="h2 text-muted">
                            Informaci&oacute;n del cliente
                        </small>

                    </div>
                    <div class="col-lg-2">
                        <a href="/clients/edit/{{ client.id }}"
                           class="text-muted"
                           id="edit-information-sub"
                           data-toggle="ajaxModal">
                            <i class="icon-edit icon-2x"></i>Editar
                        </a>
                    </div>
                    </div>
                </div>
                <div class="col-lg-12 padder-v">

                    <input type="hidden"
                           value="{{ client.id }}"
                           id="client-id">
                    Nombre: {{ client.first_name }} {{ client.last_name }} <br>
                    Email: {{ client.email }}<br>
                    Tel&eacute;fono: {{ client.phone }} <br>
                    Rating: {{ client.rating }} <br>

                </div>
                <div class="col-lg-12 padder-v h3">
                    Actividad del cliente
                </div>
                <div class="col-lg-12">
                    <div class="row">

                        <div class="col-lg-6">


                            <div id="datagrid">
                <section class="panel">
                    <div class="table-responsive">
                        <table id="myClientActivityGrid"
                               class="table table-striped datagrid m-b-sm">
                            <thead>
                            <tr style="background-color: transparent; border:none !important;">
                                <th style="background-color: transparent; border: none !important;">
                                    <div class="row">
                                        <div id=news_section></div>
                                        <div class="col-sm-12 col-lg-12">
                                            <div class=" row">

                                                <div class="col-sm-6 col-lg-6" style="padding-top: 18px">
                                                    <div class="row">
                                                        <!--
                                                    <div class="col-sm-2 col-lg-2 text-center">
                                                        <span>Filtrar:</span>
                                                    </div>

                                                    <div class="col-sm-10 col-lg-10">
                                                        <div class="select filter"
                                                             data-resize="auto"
                                                             style="width: 100% !important;">
                                                            <button data-toggle="dropdown"
                                                                    class="btn btn-sm btn-white dropdown-toggle"
                                                                    style="width: 100% !important;">
                                                                <span class="dropdown-label"></span>
                                                                <span class="caret"></span>
                                                            </button>
                                                            <ul class="dropdown-menu" id="second-filter-details">
                                                                <li data-value="default" data-selected="true">
                                                                    <a href="#">Todas</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    -->
                                                    </div>
                                                </div>

                                                <div class="col-sm-6 col-lg-6" style="padding-top: 18px">
                                                    <div class="input-group search datagrid-search"
                                                         style="width: 100% !important;">
                                                        <input type="text"
                                                               class="input-sm form-control"
                                                               placeholder="Buscar">

                                                        <div class="input-group-btn">
                                                            <button class="btn btn-white btn-sm">
                                                                <i class="icon-search"></i>
                                                            </button>
                                                        </div>
                                                     </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </th>
                            </tr>
                            </thead>

                            <tfoot class="">
                            <tr>
                                <th class="row">
                                    <div class="datagrid-footer-left col-sm-6 text-center-xs m-l-n"
                                         style="display:none;">
                                        <div class="grid-controls m-t-sm">
                              <span>
                                <span class="grid-start"></span> -
                                <span class="grid-end"></span> de
                                <span class="grid-count"></span>
                              </span>

                                            <div class="select grid-pagesize dropup"
                                                 data-resize="auto">
                                                <button data-toggle="dropdown"
                                                        class="btn btn-sm btn-white dropdown-toggle">
                                                    <span class="dropdown-label"></span>
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li data-value="5"
                                                        data-selected="true"><a
                                                            href="#">5</a></li>
                                                    <li data-value="10"><a
                                                            href="#">10</a></li>
                                                    <li data-value="20"><a
                                                            href="#">20</a></li>
                                                    <!--
                                                    <li data-value="50"><a
                                                            href="#">50</a></li>
                                                    <li data-value="100"><a
                                                            href="#">100</a></li>
                                                    -->
                                                </ul>
                                            </div>
                                            <span>Por p&aacute;gina</span>
                                        </div>
                                    </div>
                                    <div class="datagrid-footer-right col-sm-6 text-right text-center-xs"
                                         style="display:none;">
                                        <div class="grid-pager m-r-n">
                                            <button type="button"
                                                    class="btn btn-sm btn-white grid-prevpage">
                                                <i class="icon-chevron-left"></i>
                                            </button>
                                            <span>P&aacute;gina</span>

                                            <div class="inline">
                                                <div class="input-group dropdown combobox">
                                                    <input class="input-sm form-control"
                                                           type="text">

                                                    <div class="input-group-btn dropup">
                                                        <button class="btn btn-sm btn-white"
                                                                data-toggle="dropdown">
                                                            <i class="caret"></i>
                                                        </button>
                                                        <ul class="dropdown-menu pull-right"></ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <span>de <span
                                                    class="grid-pages"></span></span>
                                            <button type="button"
                                                    class="btn btn-sm btn-white grid-nextpage">
                                                <i class="icon-chevron-right"></i>
                                            </button>
                                        </div>
                                    </div>
                                </th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </section>
            </div>
        </div>

                    <div class="col-lg-6"></div>
                    </div>
                    </div>
                </div>
            </section>
        </section>
    </section>
{% endblock %}
{% block externalJs %}
    <!-- App -->
    <script src="/static/js/app.js"></script>
    <script src="/static/js/app.plugin.js"></script>
    <script src="/static/js/app.grids.data.js"></script>

    <!--Bootbox-->
    <script src="/static/js/bootbox/bootbox.min.js"></script>
    <!-- fuelux -->
    <script src="/static/js/fuelux/fuelux.js"></script>
    <script src="/static/js/libs/underscore-min.js"></script>
    <!-- datatables -->
    <script src="/static/js/datatables/jquery.dataTables.min.js"></script>
    <!-- Sparkline Chart -->
    <script src="/static/js/charts/sparkline/jquery.sparkline.min.js"></script>
    <!-- Easy Pie Chart -->
    <script src="/static/js/charts/easypiechart/jquery.easy-pie-chart.js"></script>

    <script src="/static/js/app.grids.xindex.js"></script>
    <script>
        (function($){
            // ajax modal for this page
            $(document).on('click', '[data-toggle="ajaxModal"]',
                    function(e) {
                        e.preventDefault();
                        var $this = $(this)
                                , $remote = $this.data('remote') || $this.attr('href')
                                , $modal = $('<div class="modal" id="ajaxModal"><div class="modal-body"></div></div>');
                        $('body').append($modal);
                        $modal.modal();
                        $modal.load($remote);
                    }
            );
        })(jQuery);
    </script>
{% endblock %}
</body>
</html>